
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重庆远伦教育学费系统</title>
    <link href="~/Jscript/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Css/Login.css" rel="stylesheet" />
    <script src="~/Jscript/jquery-1.10.2.min.js"></script>
    <script src="~/Jscript/layui/layui.js"></script>
    <script src="~/Jscript/jquery.cookie.js"></script>
</head>
<body>
 
</body>
</html>
<script>
    window.onload = function () {
        alert("登录超时，请重新登录！");
        top.location.href = "/Login/Login";
    }

</script>